Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

feat(playwright): add watch mode
  packages/nx-playwright/README.md
  packages/nx-playwright/src/executors/playwright/executor.ts
Due: eslint --parser-options 'project:null' --fix

docs(jest-playwright): add deprecation notice
  packages/nx-jest-playwright/README.md
Due: none

feat(playwright): update playwright
  packages/nx-playwright/src/utils/versions.ts
Due: eslint --parser-options 'project:null' --fix

feat(core): update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  migrations.json
Due: prettier --write

Notes added by 'git notes add'
  22/f40477676df5d40f6c8c658ef6b02762c2e1e7
Due: none

feat: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  41/cd3de779e837d544e1c619d3f8a2c92d838e09
Due: none

Update get-sls-command.ts
  packages/nx-serverless/src/utils/get-sls-command.ts
Due: eslint --parser-options 'project:null' --fix

fix: use npx for sls regardless of package manager
  packages/nx-serverless/src/utils/get-sls-command.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  84/9bc1329abff4602b1a8ff38dcba5222a8439fd
Due: none

fix: fix combined packaging in serverless plugin
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  72/51de8106652e855efb1584bf048ae64159837d
Due: none

chore: run migrations
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  migrations.json
  nx.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-playwright/project.json
  packages/nx-serverless/project.json
  tools/workspace-plugin/project.json
Due: prettier --write

chore: update nx
  package.json
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
  yarn.lock
Due: prettier --write

chore: adjust getNpmScope
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
Due: eslint --parser-options 'project:null' --fix

chore: fix semantic release
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  2e/02e1500b9b50440d7a7e7a8011fbd455a3bd93
Due: none

feat: update nx
  package.json
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
  yarn.lock
Due: prettier --write

chore: refresh lock file
  packages/nx-jest-playwright/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
  yarn.lock
Due: prettier --write

feat: update nx
  package.json
  yarn.lock
Due: prettier --write

chore: lint fix
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
Due: prettier --write

fix(nx-serverless): use correct output paths
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-output-path.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
Due: eslint --parser-options 'project:null' --fix

test: adjust e2e tests to as-provided configuration
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-playwright-e2e/tests/nx-playwright.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-core/src/testing-utils/run-nx-new-command.ts
Due: eslint --parser-options 'project:null' --fix

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
