Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove redundant version target
  workspace.json
Due: prettier --write

fix(npm): use execProcess for `rm -f .npmrc`
  .github/workflows/release.yml
  packages/nx-npm/src/executors/publish/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  e62171182d3b0513c29284e01f9e619c4c03bba6
Due: none

fix: test release
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  dc3e47dee42d05589ca93df582b542946da89f7b
Due: none

chore: run nx update
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run nx migrations
  jest.config.js
  migrations.json
Due: prettier --write

chore: adjust e2e
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
Due: prettier --write

chore: fix schema type
  package.json
  packages/nx-core/src/utils/stringify-args.ts
  packages/nx-serverless/src/executors/build/schema.d.ts
  packages/nx-serverless/src/executors/deploy/schema.d.ts
  packages/nx-serverless/src/executors/remove/schema.d.ts
  packages/nx-serverless/src/executors/serve/schema.d.ts
  packages/nx-serverless/src/utils/prevent-package.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

fix: pass watch option to JEST runner
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  7c51b5e4a4238a23f6910a29005aa889119420e1
Due: none

fix(nx-serverless): stop noBuild arg from passing into serverless
  packages/nx-serverless/src/executors/deploy/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  8c0eda320af0aea59627e90a4485ca14d39e8c0c
Due: none

feat: update nx to 13
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  migrations.json
  nx.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-serverless/project.json
  workspace.json
Due: prettier --write

chore: fix post nx update conflicts
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: eslint --parser-options 'project:null' --fix

feat: include licence in compiled libs
  LICENSE
  packages/nx-core/package.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/package.json
  packages/nx-npm/project.json
  packages/nx-serverless/package.json
  packages/nx-serverless/project.json
  tools/generators/plugin/index.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  0272f24df1ce32a545fdce77f79a9b0dcdaedde8
Due: none

chore: bump local @ns3/nx-npm
  package.json
  yarn.lock
Due: prettier --write

feat(nx-core): update to handle cli flags without values
  packages/nx-core/src/utils/stringify-args.ts
Due: eslint --parser-options 'project:null' --fix

test(nx-core): add test cases for stringified flags
  packages/nx-core/src/utils/stringify-args.spec.ts
Due: eslint --parser-options 'project:null' --fix

test(nx-core): add test case for normal key/val args
  packages/nx-core/src/utils/stringify-args.spec.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  263411a9e79a3d45311cce95a10a05037bc19221
Due: none

chore: update nx version
  package.json
  yarn.lock
Due: prettier --write

chore: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run nx migrations
  migrations.json
  nx.json
Due: prettier --write

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
