Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  7ddf390403c47b7843c095515be6364a5e5f5c72
Due: none

chore: optimise affected
  nx.json
Due: prettier --write

feat: update nx
  migrations.json
  package.json
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-affected.ts__tmpl__
  tools/src/scripts/set-gh-actions-affected.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: run migrations
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  migrations.json
  nx.json
  packages/nx-core/jest.config.ts
  packages/nx-core/project.json
  packages/nx-jest-playwright/jest.config.ts
  packages/nx-jest-playwright/project.json
  packages/nx-jest-playwright/src/executors/jest-playwright/schema.json
  packages/nx-npm/jest.config.ts
  packages/nx-npm/project.json
  packages/nx-npm/src/executors/publish/schema.json
  packages/nx-npm/src/executors/version/schema.json
  packages/nx-serverless/jest.config.ts
  packages/nx-serverless/project.json
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: update deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: refresh lock
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix

chore: fix spec
  packages/nx-serverless/src/generators/application/generator.spec.ts
Due: eslint --parser-options 'project:null' --fix

chore: adjust projects
  .eslintrc.json
  .vscode/settings.json
  e2e/nx-core-e2e/jest.config.ts
  e2e/nx-jest-playwright-e2e/jest.config.ts
  e2e/nx-npm-e2e/jest.config.ts
  e2e/nx-serverless-e2e/jest.config.ts
  e2e/nx-serverless-e2e/tsconfig.json
  e2e/nx-serverless-e2e/tsconfig.spec.json
  package.json
  packages/nx-core/.eslintrc.json
  packages/nx-core/project.json
  packages/nx-core/tsconfig.lib.json
  packages/nx-core/tsconfig.spec.json
  packages/nx-jest-playwright/.eslintrc.json
  packages/nx-jest-playwright/project.json
  packages/nx-jest-playwright/tsconfig.lib.json
  packages/nx-jest-playwright/tsconfig.spec.json
  packages/nx-npm/.eslintrc.json
  packages/nx-npm/project.json
  packages/nx-npm/tsconfig.lib.json
  packages/nx-npm/tsconfig.spec.json
  packages/nx-serverless/.eslintrc.json
  packages/nx-serverless/project.json
  packages/nx-serverless/tsconfig.lib.json
  packages/nx-serverless/tsconfig.spec.json
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: adjustments after migrations
  jest.config.ts
  nx.json
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): update generator and README
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
  packages/nx-serverless/src/generators/init/generator.ts
Due: eslint --parser-options 'project:null' --fix

chore: update workflows
  .github/actions/run-commands-in-parallel/action.yml
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  nx.json
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  dea6c8cdfb271679ea1ddfae328086aaafa0fbe3
Due: none

fix: update nx (fixes plugins build)
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  migrations.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-serverless/project.json
Due: prettier --write

Notes added by 'git notes add'
  e1babe27d3e5e82c42704b0b1348a8ea83065d41
Due: none

fix: use dependencies instead of peerDependencies
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-serverless/project.json
Due: prettier --write

chore: update nx
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  efc9e7c76a78f5f797e08d4a210909f121eb3491
Due: none

feat(npm): add ability to control pkgVersion and tag with env
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: use env to run publish
  .github/workflows/release.yml
  nx.json
Due: prettier --write

Notes added by 'git notes add'
  3f13cd9653f139877c7d433618b5396c1d2b6379
Due: none

chore: fix release workflow
  .github/workflows/release.yml
Due: none

feat: update Nx
  package.json
  yarn.lock
Due: prettier --write

feat: update node and deps
  .nvmrc
  package.json
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/generator.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove redundant
  e2e/nx-core-e2e/project.json
  e2e/nx-core-e2e/tests/core.spec.ts
  package.json
  packages/nx-core/generators.json
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/__tmpl__.gitignore
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/commit-msg__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/pre-commit__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.lintstagedrc
  packages/nx-core/src/generators/repository/files/__tmpl__.nvmrc
  packages/nx-core/src/generators/repository/files/__tmpl__.prettierrc
  packages/nx-core/src/generators/repository/files/__tmpl__.releaserc.js
  packages/nx-core/src/generators/repository/files/tools/src/scripts/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-affected.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-pr-variables.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-push-variables.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/types.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/tsconfig.json
  packages/nx-core/src/generators/repository/generator.spec.ts
  packages/nx-core/src/generators/repository/generator.ts
  packages/nx-core/src/generators/repository/schema.d.ts
  packages/nx-core/src/generators/repository/schema.json
  tools/src/scripts/index.ts
  tools/src/scripts/set-gh-actions-affected.ts
  tools/src/scripts/set-gh-actions-pr-variables.ts
  tools/src/scripts/set-gh-actions-push-variables.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
