Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

chore: adjust unit tests
  packages/nx-serverless/src/generators/application/generator.spec.ts
Due: eslint --parser-options 'project:null' --fix

chore: update deps list
  packages/nx-core/src/utils/dependencies.ts
Due: eslint --parser-options 'project:null' --fix

chore: fix getting npmScope
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
Due: eslint --parser-options 'project:null' --fix

feat: update node and deps
  .nvmrc
  package.json
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/generator.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove redundant
  e2e/nx-core-e2e/project.json
  e2e/nx-core-e2e/tests/core.spec.ts
  package.json
  packages/nx-core/generators.json
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/__tmpl__.gitignore
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/commit-msg__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/pre-commit__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.lintstagedrc
  packages/nx-core/src/generators/repository/files/__tmpl__.nvmrc
  packages/nx-core/src/generators/repository/files/__tmpl__.prettierrc
  packages/nx-core/src/generators/repository/files/__tmpl__.releaserc.js
  packages/nx-core/src/generators/repository/files/tools/src/scripts/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-affected.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-pr-variables.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-push-variables.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/types.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/tsconfig.json
  packages/nx-core/src/generators/repository/generator.spec.ts
  packages/nx-core/src/generators/repository/generator.ts
  packages/nx-core/src/generators/repository/schema.d.ts
  packages/nx-core/src/generators/repository/schema.json
  tools/src/scripts/index.ts
  tools/src/scripts/set-gh-actions-affected.ts
  tools/src/scripts/set-gh-actions-pr-variables.ts
  tools/src/scripts/set-gh-actions-push-variables.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat: update Nx
  package.json
  yarn.lock
Due: prettier --write

fix: make sls work with pnpm
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/utils/get-sls-command.ts
Due: eslint --parser-options 'project:null' --fix

fix: e2e tests
  yarn.lock
Due: none

Notes added by 'git notes add'
  c1/65be5060f32fd91bcb4680d05b860bd9d27139
Due: none

chore: upgrade nx
  package.json
  yarn.lock
Due: prettier --write

test: add missing configurations prop to serverless generator tests
  packages/nx-serverless/src/generators/application/generator.spec.ts
Due: eslint --parser-options 'project:null' --fix

feat: update nx version
  package.json
  workspace.json
  yarn.lock
Due: prettier --write

Revert "feat: update nx version"
  package.json
  workspace.json
  yarn.lock
Due: prettier --write

feat: udpate deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: patch e2e test
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  a5/fb2098166b2a920d1271544cb9739a900890e5
Due: none

feat: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  .eslintignore
  migrations.json
  workspace.json
Due: prettier --write

feat: update deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

fix(serverless): use @nrwl/webpack:webpack
  package.json
  packages/nx-core/src/utils/dependencies.ts
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-build-base-config.ts
  packages/nx-serverless/src/generators/init/generator.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove deprecated methods
  packages/nx-serverless/src/generators/init/generator.ts
Due: eslint --parser-options 'project:null' --fix

chore: adjust npm e2e test
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  67/3abc9276ade2d3ab74e8af3a7c33d1bc914c3f
Due: none

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
