Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: fix nx-npm e2e
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
Due: prettier --write, eslint --fix

chore: update @ns3/nx-npm to beta version
  package.json
  yarn.lock
Due: prettier --write

chore: allow plugins to import each other
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  package.json
  packages/nx-core/src/index.ts
  packages/nx-core/src/testing-utils/run-nx-new-command.ts
  packages/nx-core/src/utils/stringify-args.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  workspace.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: extract common parts to nx-core
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/get-project-configuration.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/utils/get-project-configuration.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
  workspace.json
Due: prettier --write, eslint --fix

fix: use custom execProcess
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/exec-process.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
Due: prettier --write, eslint --fix

chore: add ns3 scripts
  .github/workflows/check.yml
  package.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/builder.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-publish/impl.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-publish/schema.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-version/impl.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-version/schema.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/package.json
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/helpers.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/types.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/utils/spawn-process.ts__tmpl__
  tools/src/scripts/index.ts
  tools/src/scripts/set-gh-actions-affected.ts
  tools/src/scripts/set-gh-actions-pr-variables.ts
  tools/src/scripts/set-gh-actions-push-variables.ts
  tools/src/semantic-release/helpers.ts
  tools/src/utils/spawn-process.ts
  yarn.lock
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f457e4d7d1bba365816f57015bfadcd665f04569
Due: none

chore: update release workflow
  .github/workflows/release.yml
  tools/src/semantic-release/index.ts
  tools/src/semantic-release/types.ts
Due: prettier --write, eslint --fix

chore: remove build step from check workflow
  .github/workflows/check.yml
Due: none

chore: cleanup workflow
  .github/workflows/release.yml
  tools/src/semantic-release/helpers.ts
  tools/src/semantic-release/index.ts
Due: prettier --write, eslint --fix

feat: update repository generation and support npm, yarn and pnpm
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.releaserc.js
  packages/nx-core/src/generators/repository/files/tools/src/scripts/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-affected.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-pr-variables.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/scripts/set-gh-actions-push-variables.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/helpers.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/types.ts__tmpl__
  packages/nx-core/src/generators/repository/generator.ts
  packages/nx-core/src/utils/get-package-manager-install.ts
  packages/nx-core/src/utils/get-package-manager-lock-file.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  712876871ef7aa427356e20bfafa6c7d0f4fc9b0
Due: none

fix: add missing build run to check flow generator
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
Due: none

Notes added by 'git notes add'
  664adc6aba59a3b2154e74b197a9317dd7c2e9d9
Due: none

fix: remove @nrwl/nx-plugin as a dependency
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-core/src/index.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

fix: add script execute in nx-core generator
  packages/nx-core/src/generators/repository/generator.ts
Due: prettier --write, eslint --fix

fix: import ExecutorContext from @nrwl/devkit
  packages/nx-core/src/utils/get-project-configuration.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: prettier --write, eslint --fix

chore: update NX
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  edff48de16b3ac953c94ba8623d8260921affd8b
Due: none

All inclusion of other jest-playwright options.
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  3580918bce01b1bb1594b25f342bad873c11d5ee
Due: none

chore: update node to version 14
  .github/workflows/check.yml
  .github/workflows/release.yml
  .nvmrc
Due: none

chore: update husky
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

feat: update repository generator
  e2e/nx-core-e2e/tests/core.spec.ts
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/__tmpl__.gitignore
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/commit-msg__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/pre-commit__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.huskyrc
  packages/nx-core/src/generators/repository/files/__tmpl__.nvmrc
  packages/nx-core/src/generators/repository/generator.ts
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/dependencies.ts
Due: prettier --write, eslint --fix

feat: update jest-playwright deps
  packages/nx-jest-playwright/src/generators/init/generator.ts
Due: prettier --write, eslint --fix

feat: update serverless deps
  packages/nx-serverless/src/generators/init/generator.ts
Due: prettier --write, eslint --fix

chore: remove @ns3/nx-npm
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write

chore: fix e2e tests
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,scss,html})
  eslint --fix: any of: *.{ts,tsx}
