Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

chore: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

fix(npm): use execSync for executing npm commands
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
  packages/nx-npm/src/executors/version/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  c98b13a2cd2ad1a32355bfb81d9527d1d290e0b0
Due: none

chore: update nx-npm
  package.json
  yarn.lock
Due: prettier --write

feat(serverless): add universal sls executor
  packages/nx-serverless/executors.json
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): use sls executor in generator
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/get-out-tsc-path.ts
  packages/nx-serverless/src/utils/print-deprecation-warning.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): add serverless plugin
  package.json
  packages/nx-serverless/plugin/.gitignore
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/functions/generate-functions.ts
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/integrations/serverless-invoke-local.ts
  packages/nx-serverless/plugin/integrations/serverless-offline.ts
  packages/nx-serverless/plugin/integrations/serverless-step-functions-offline.ts
  packages/nx-serverless/plugin/nrwl/nx-constants.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/nrwl/nx-options.ts
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
  packages/nx-serverless/plugin/serverless.d.ts
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove serverless-http dependency
  package.json
  packages/nx-core/src/utils/dependencies.ts
  packages/nx-serverless/src/generators/application/files/src/handlers/foo.ts__tmpl__
  packages/nx-serverless/src/generators/init/generator.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: update deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): update app generator with @ns3/nx-serverless/plugin
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/files/src/handlers/foo.ts__tmpl__
  packages/nx-serverless/src/generators/application/files/src/main.ts__tmpl__
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/add-jest.ts
  packages/nx-serverless/src/generators/application/lib/get-build-base-config.ts
  packages/nx-serverless/src/generators/application/lib/get-output-path.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
  packages/nx-serverless/src/generators/application/schema.d.ts
  packages/nx-serverless/src/generators/application/schema.json
  packages/nx-serverless/src/generators/init/generator.ts
  packages/nx-serverless/src/generators/init/schema.d.ts
  packages/nx-serverless/src/generators/init/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: disable publish
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  71b0599289e6a8423883520f450ba0f7b7ed4b66
Due: none

feat(npm): add ability to pass tag to npm publish
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: output channel in GitHub Actions
  .github/workflows/release.yml
  package.json
  tools/src/semantic-release/index.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove redundant gitignore
  packages/nx-serverless/plugin/.gitignore
Due: none

feat(serverless): enable source maps when serve
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): generate serverless.yml with enable-source-maps
  packages/nx-serverless/src/generators/application/files/serverless.yml
Due: none

fix(serverless): ensure .serverless dir exists before packing
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
Due: eslint --parser-options 'project:null' --fix

Revert "chore: disable publish"
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  055c91f63c1236c3141f219db20d6a79b1409f3a
Due: none

Notes added by 'git notes add'
  d3a1f8e726642da3d72d384f2d546714d51c1655
Due: none

chore: update @ns3/nx-npm
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  c8741db8372e7bf5c7a3d1857ed0c653a439fab2
Due: none

chore: update node
  .nvmrc
Due: none

chore: run migrations
  migrations.json
Due: prettier --write

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
