Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --parser-options 'project:null' --fix",
    "git add"
  ],
  "*.{js,json,css,scss,html}": [
    "prettier --write",
    "git add"
  ]
}

feat(repo): update run-commands-in-parallel to not exit too fast
  .github/actions/run-commands-in-parallel/action.yml
Due: none

Notes added by 'git notes add'
  e7/32597b76e20e71b606bb1f35cdfa42c9be2684
Due: none

fix(serverless): correctly generate sub dir target
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  b2/ce679ad5f61b5025831798c4fbf0cf99d6fdaa
Due: none

chore: update plugin generator
  package.json
  tools/generators/plugin/index.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(core): extract startDevServer to @ns3/nx-core
  packages/nx-core/src/utils/start-dev-server.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/lib/start-dev-server.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  c1/cb5a090216cb10d4da1f4fbf71791610395aef
Due: none

chore: install flat
  package.json
  yarn.lock
Due: prettier --write

feat: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  migrations.json
  packages/nx-core/jest.config.ts
  packages/nx-jest-playwright/jest.config.ts
  packages/nx-npm/jest.config.ts
  packages/nx-serverless/jest.config.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(jest-playwright): update version
  package.json
  packages/nx-core/src/utils/dependencies.ts
  packages/nx-jest-playwright/src/generators/init/generator.ts
  packages/nx-serverless/src/generators/init/generator.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: adjust after migration
  e2e/nx-core-e2e/jest.config.ts
  e2e/nx-jest-playwright-e2e/jest.config.ts
  e2e/nx-npm-e2e/jest.config.ts
  e2e/nx-serverless-e2e/jest.config.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): add shorthand and normalise support to args
  packages/nx-serverless/README.md
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove hanging only flag
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
Due: eslint --parser-options 'project:null' --fix

feat(core): add getPackageMajorVersion utility method
  packages/nx-core/index.ts
  packages/nx-core/src/utils/get-package-major-version.ts
Due: eslint --parser-options 'project:null' --fix

feat(core): expand stringifyArgs functionality
  packages/nx-core/src/utils/stringify-args.spec.ts
  packages/nx-core/src/utils/stringify-args.ts
Due: eslint --parser-options 'project:null' --fix

chore: cleanup deps
  package.json
  yarn.lock
Due: prettier --write

refactor: normalize StartDevServerOptions
  packages/nx-core/src/utils/start-dev-server.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
Due: eslint --parser-options 'project:null' --fix

feat(playwright): add executor
  packages/nx-playwright/src/executors/playwright/executor.spec.ts
  packages/nx-playwright/src/executors/playwright/executor.ts
  packages/nx-playwright/src/executors/playwright/schema.d.ts
  packages/nx-playwright/src/executors/playwright/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: generate nx-playwright
  e2e/nx-playwright-e2e/jest.config.ts
  e2e/nx-playwright-e2e/project.json
  e2e/nx-playwright-e2e/tests/nx-playwright.spec.ts
  e2e/nx-playwright-e2e/tsconfig.json
  e2e/nx-playwright-e2e/tsconfig.spec.json
  packages/nx-playwright/.eslintrc.json
  packages/nx-playwright/README.md
  packages/nx-playwright/executors.json
  packages/nx-playwright/generators.json
  packages/nx-playwright/index.ts
  packages/nx-playwright/jest.config.ts
  packages/nx-playwright/package.json
  packages/nx-playwright/project.json
  packages/nx-playwright/src/executors/build/executor.spec.ts
  packages/nx-playwright/src/executors/build/executor.ts
  packages/nx-playwright/src/executors/build/schema.d.ts
  packages/nx-playwright/src/executors/build/schema.json
  packages/nx-playwright/src/generators/nx-playwright/files/src/index.ts__template__
  packages/nx-playwright/src/generators/nx-playwright/generator.spec.ts
  packages/nx-playwright/src/generators/nx-playwright/generator.ts
  packages/nx-playwright/src/generators/nx-playwright/schema.d.ts
  packages/nx-playwright/src/generators/nx-playwright/schema.json
  packages/nx-playwright/tsconfig.json
  packages/nx-playwright/tsconfig.lib.json
  packages/nx-playwright/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): change behavior of env prop
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(core): move printCommand to @ns3/nx-core
  packages/nx-core/src/utils/print-command.ts
  packages/nx-serverless/src/executors/sls/executor.ts
Due: eslint --parser-options 'project:null' --fix

chore: normalize generated code
  packages/nx-playwright/executors.json
  packages/nx-playwright/generators.json
  packages/nx-playwright/src/executors/build/executor.ts
  packages/nx-playwright/src/executors/build/schema.d.ts
  packages/nx-playwright/src/executors/playwright/executor.spec.ts
  packages/nx-playwright/src/executors/playwright/executor.ts
  packages/nx-playwright/src/executors/playwright/schema.d.ts
  packages/nx-playwright/src/executors/playwright/schema.json
  packages/nx-playwright/src/generators/nx-playwright/generator.ts
  packages/nx-playwright/src/generators/nx-playwright/schema.d.ts
  packages/nx-playwright/src/generators/project/files/src/index.ts__template__
  packages/nx-playwright/src/generators/project/generator.spec.ts
  packages/nx-playwright/src/generators/project/generator.ts
  packages/nx-playwright/src/generators/project/schema.d.ts
  packages/nx-playwright/src/generators/project/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

refactor(core): cleanup unused stuff from @ns3/nx-core
  packages/nx-core/index.ts
  packages/nx-core/src/utils/dependencies.ts
  packages/nx-core/src/utils/exec-process.ts
  packages/nx-core/src/utils/get-package-manager-install.ts
  packages/nx-core/src/utils/get-package-manager-lock-file.ts
  packages/nx-core/src/utils/process-output.ts
  packages/nx-core/src/utils/spawn-process.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/generators/init/generator.ts
  packages/nx-jest-playwright/src/utils/versions.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/generators/init/generator.ts
  packages/nx-serverless/src/utils/versions.ts
Due: eslint --parser-options 'project:null' --fix

feat(playwright): add generators
  packages/nx-playwright/generators.json
  packages/nx-playwright/src/executors/playwright/executor.ts
  packages/nx-playwright/src/executors/playwright/schema.d.ts
  packages/nx-playwright/src/executors/playwright/schema.json
  packages/nx-playwright/src/generators/init/generator.spec.ts
  packages/nx-playwright/src/generators/init/generator.ts
  packages/nx-playwright/src/generators/init/schema.d.ts
  packages/nx-playwright/src/generators/init/schema.json
  packages/nx-playwright/src/generators/project/files/playwright.config.ts__tmpl__
  packages/nx-playwright/src/generators/project/files/src/index.ts__template__
  packages/nx-playwright/src/generators/project/files/tests/app.spec.ts__tmpl__
  packages/nx-playwright/src/generators/project/files/tsconfig.json
  packages/nx-playwright/src/generators/project/generator.ts
  packages/nx-playwright/src/generators/project/schema.d.ts
  packages/nx-playwright/src/generators/project/schema.json
  packages/nx-playwright/src/utils/versions.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

docs: update README
  packages/nx-playwright/README.md
Due: none

test(playwright): adjust e2e
  e2e/nx-playwright-e2e/jest.config.ts
  e2e/nx-playwright-e2e/project.json
  e2e/nx-playwright-e2e/tests/nx-playwright.spec.ts
  e2e/nx-playwright-e2e/tsconfig.json
  e2e/nx-playwright-e2e/tsconfig.spec.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  de/8b22d083566fc77d0dd112f53ae13735060499
Due: none

fix(npm): use nxJsonConfiguration instead of workspace
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  c9/32b7668cad1eba7bd9689b5b693679f14ef5c0
Due: none
