Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --parser-options 'project:null' --fix",
    "git add"
  ],
  "*.{js,json,css,scss,html}": [
    "prettier --write",
    "git add"
  ]
}

feat: update nx
  .ncurc.yml
  migrations.json
  package-lock.json
  package.json
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
Due: prettier --write

chore: update check workflow
  .github/workflows/check.yml
Due: none

chore: run migration
  .eslintrc.json
  .gitignore
  .prettierignore
  nx.json
Due: prettier --write

feat(serverless): update generators to use new features
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-build-base-config.ts
  packages/nx-serverless/src/generators/init/generator.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  c1/d6ccc4f599e9fb5a118580fd5f82aba3c6b502
Due: none

chore: relax dependencies
  package.json
Due: prettier --write

feat: relax nx dependency
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
Due: prettier --write

Notes added by 'git notes add'
  3f/fbc1df65d2c63a4a6105db826b51486ccff38b
Due: none

chore: run migrations
  jest.config.ts
  migrations.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

fix: adjust usage of executor context
  packages/nx-core/src/utils/get-project-configuration.ts
  packages/nx-playwright/src/executors/playwright/executor.spec.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: eslint --parser-options 'project:null' --fix

feat: update nx
  migrations.json
  package-lock.json
  package.json
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
Due: prettier --write

chore: adjust generator
  tools/workspace-plugin/src/generators/plugin/index.ts
Due: eslint --parser-options 'project:null' --fix

chore: adjust verdaccio setup
  .verdaccio/config.yml
  packages/nx-core/src/testing-utils/create-test-workspace.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/stop-local-registry.ts
Due: eslint --parser-options 'project:null' --fix

feat: adjust linter generator to use flat config
  packages/nx-jest-playwright/src/generators/project/lib/add-linting.ts
  packages/nx-serverless/src/generators/application/lib/add-linting.ts
Due: eslint --parser-options 'project:null' --fix

test: adjust e2e test to new output format
  e2e/nx-playwright-e2e/tests/nx-playwright.spec.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  8b49327ab6323e99debfc6ac4950578f31003515
Due: none

fix(npm): make caret deps affect all deps
  packages/nx-npm/src/executors/publish/executor.ts
Due: eslint --parser-options 'project:null' --fix

feat: update nx
  nx.json
  package-lock.json
  package.json
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
Due: prettier --write

Notes added by 'git notes add'
  dbeec5d99141acadad95aa673d26be2db9a3575b
Due: none

feat: dummy change
  packages/nx-core/src/testing-utils/create-test-workspace.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
Due: eslint --parser-options 'project:null' --fix
