Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: fix linter issues
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
Due: prettier --write, eslint --fix

fix(jest-playwright): exclude testEnvironment from @nrwl/jest/preset
  packages/nx-jest-playwright/src/generators/project/files/jest.config.js__tmpl__
Due: none

chore: run migrations
  migrations.json
  nx.json
Due: prettier --write

fix(jest-playwright): move baseUrl to global['baseUrl']
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/generators/project/files/src/utils.ts__tmpl__
Due: prettier --write, eslint --fix

feat(jest-playwright): update playwright and jest-playwright-preset
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: fix e2e tests
  e2e/nx-core-e2e/tests/core.spec.ts
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
Due: prettier --write, eslint --fix

chore: run nx update
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  migrations.json
  nx.json
  packages/nx-core/.eslintrc.json
  packages/nx-core/jest.config.js
  packages/nx-jest-playwright/.eslintrc.json
  packages/nx-jest-playwright/jest.config.js
  packages/nx-npm/jest.config.js
  packages/nx-serverless/.eslintrc.json
  packages/nx-serverless/jest.config.js
  tsconfig.base.json
  workspace.json
Due: prettier --write

Notes added by 'git notes add'
  53a0e93531d090298d0a1af46c8f77cc5c92afb3
Due: none

feat(npm): publish executor can now update version
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
Due: prettier --write, eslint --fix

chore(npm): remove version executor from generator
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  packages/nx-npm/src/generators/npm/lib/update-workspace.ts
Due: prettier --write, eslint --fix

chore: put index.ts in the root of the library
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-core/index.ts
  packages/nx-core/package.json
  packages/nx-core/src/index.ts
  packages/nx-jest-playwright/index.ts
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/src/index.ts
  packages/nx-npm/index.ts
  packages/nx-npm/package.json
  packages/nx-npm/src/index.ts
  packages/nx-serverless/index.ts
  packages/nx-serverless/package.json
  packages/nx-serverless/src/index.ts
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

chore: explicitly set "buildableProjectDepsInPackageJsonType": "dependencies"
  .github/workflows/release.yml
  workspace.json
Due: prettier --write

chore: install @ns3/nx-npm
  package.json
  yarn.lock
Due: prettier --write

chore: simplify release flow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  5323cd7b9c99bc6be2e3f3e9379e25972dbd2151
Due: none

chore: connect to nx-cloud
  nx.json
  package.json
  yarn.lock
Due: prettier --write

fix: no change, check if everything releases well
  package.json
  yarn.lock
Due: prettier --write

chore: adjust release to work with nx-cache
  .github/workflows/release.yml
Due: none

chore: adjust check to run on PR
  .github/workflows/check.yml
Due: none

chore: improve linter
  .eslintrc.json
  .lintstagedrc
  package.json
  packages/nx-core/index.ts
  packages/nx-core/src/generators/repository/generator.spec.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/lib/start-dev-server.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/generators/application/generator.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: add plugin generator
  tools/generators/plugin/index.ts
  tools/generators/plugin/schema.json
  tools/generators/plugin/schema.ts
Due: prettier --write, eslint --fix

chore: remove redundant version target
  workspace.json
Due: prettier --write

chore: update nx
  package.json
  yarn.lock
Due: prettier --write

chore: use per-project configuration
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  nx.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-serverless/project.json
  workspace.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,scss,html})
  eslint --fix: any of: *.{ts,tsx}
