Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): improve build logs
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
Due: eslint --parser-options 'project:null' --fix

chore: install deps
  package-lock.json
  package.json
  packages/nx-serverless/package.json
Due: prettier --write

feat(serverless): improve serve
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
Due: eslint --parser-options 'project:null' --fix

docs: update root README
  README.md
Due: none

feat(serverless): command is no longer required option
  packages/nx-serverless/README.md
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): do not pass ExecutorContext to sls process
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/nrwl/nx-serverless-config.ts
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: eslint --parser-options 'project:null' --fix

chore(serverless): remove skipPackage
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/serverless.d.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  d5/868791cdb5b38eefa9669574c46fad0027f4e2
Due: none

chore: update nx to version 17.1.3
  .gitignore
  .prettierignore
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-playwright-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/nx-core/package.json
  packages/nx-core/project.json
  packages/nx-core/src/utils/stringify-args.spec.ts
  packages/nx-core/src/utils/stringify-args.ts
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/project.json
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/generators/project/lib/add-linting.ts
  packages/nx-jest-playwright/src/generators/project/schema.d.ts
  packages/nx-npm/package.json
  packages/nx-npm/project.json
  packages/nx-playwright/package.json
  packages/nx-playwright/project.json
  packages/nx-playwright/src/executors/playwright/executor.spec.ts
  packages/nx-playwright/src/generators/project/generator.ts
  packages/nx-playwright/src/generators/project/schema.d.ts
  packages/nx-serverless/package.json
  packages/nx-serverless/plugin/integrations/serverless-offline.ts
  packages/nx-serverless/project.json
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/add-linting.ts
  packages/nx-serverless/src/generators/application/schema.d.ts
  packages/nx-serverless/src/utils/with-externals.ts
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/plugin/index.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat: update nx
  migrations.json
  package.json
Due: prettier --write

feat: update deps
  .ncurc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: run migrations
  .gitignore
  .prettierignore
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-playwright-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/project.json
  packages/nx-jest-playwright/src/generators/project/lib/add-linting.ts
  packages/nx-jest-playwright/src/generators/project/schema.d.ts
  packages/nx-npm/project.json
  packages/nx-playwright/package.json
  packages/nx-playwright/project.json
  packages/nx-playwright/src/generators/project/generator.ts
  packages/nx-playwright/src/generators/project/schema.d.ts
  packages/nx-serverless/package.json
  packages/nx-serverless/project.json
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/add-linting.ts
  packages/nx-serverless/src/generators/application/schema.d.ts
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/plugin/index.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: post migrations changes
  .eslintrc.json
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-npm-e2e/project.json
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-playwright-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  nx.json
  packages/nx-core/package.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/package.json
  packages/nx-npm/project.json
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
  packages/nx-playwright/package.json
  packages/nx-playwright/project.json
  packages/nx-playwright/src/executors/playwright/executor.spec.ts
  packages/nx-serverless/package.json
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/project.json
  packages/nx-serverless/src/generators/application/files/core/src/handlers/foo/handler.ts__tmpl__
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/utils/with-externals.ts
  packages/nx-serverless/src/utils/with-patterns.ts
  tools/workspace-plugin/project.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): update to node 20
  .nvmrc
  packages/nx-serverless/src/generators/application/files/core/serverless.yml
  packages/nx-serverless/src/generators/application/generator.ts
  tsconfig.base.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: refresh package lock
  package-lock.json
  packages/nx-serverless/package.json
Due: prettier --write

chore: updater gh actions to newer versions
  .github/actions/run-commands-in-parallel/action.yml
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

feat(serverless): replace serverless-bundle with serverless-esbuild
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/files/core/serverless.yml
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/schema.d.ts
  packages/nx-serverless/src/generators/application/schema.json
  packages/nx-serverless/src/generators/init/generator.ts
  packages/nx-serverless/src/generators/init/schema.d.ts
  packages/nx-serverless/src/generators/init/schema.json
  packages/nx-serverless/src/utils/versions.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  d1/7298bc7e99a053e6afe7d1dc05d1da090ea442
Due: none

feat: update to nx 18
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: run migrations
  .env
  migrations.json
  nx.json
Due: prettier --write

chore: remove NX_ADD_PLUGINS=false
  .env
Due: none

chore: update deps
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore: after migration adjustments
  packages/nx-core/package.json
  packages/nx-core/src/testing-utils/create-test-workspace.ts
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/src/generators/init/generator.ts
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
  packages/nx-serverless/src/generators/application/generator.spec.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: tmp
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/src/generators/init/generator.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  18/313fbd24aca69d1f37202b17de7360500e315e
Due: none

chore: create local plugin demo
  nx.json
  packages/nx-core/src/plugin.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
