Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{js,json,css,scss,html}": [
    "prettier --write",
    "git add"
  ]
}

chore: replace npm with yarn
  package-lock.json
  yarn.lock
Due: prettier --write

chore: use yarn in CI
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

chore: generate nx-npm
  e2e/nx-npm-e2e/jest.config.js
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-npm-e2e/tsconfig.json
  e2e/nx-npm-e2e/tsconfig.spec.json
  jest.config.js
  nx.json
  packages/nx-npm/.eslintrc.json
  packages/nx-npm/README.md
  packages/nx-npm/executors.json
  packages/nx-npm/generators.json
  packages/nx-npm/jest.config.js
  packages/nx-npm/package.json
  packages/nx-npm/src/executors/build/executor.spec.ts
  packages/nx-npm/src/executors/build/executor.ts
  packages/nx-npm/src/executors/build/schema.d.ts
  packages/nx-npm/src/executors/build/schema.json
  packages/nx-npm/src/generators/nx-npm/files/src/index.ts__template__
  packages/nx-npm/src/generators/nx-npm/generator.spec.ts
  packages/nx-npm/src/generators/nx-npm/generator.ts
  packages/nx-npm/src/generators/nx-npm/schema.d.ts
  packages/nx-npm/src/generators/nx-npm/schema.json
  packages/nx-npm/src/index.ts
  packages/nx-npm/tsconfig.json
  packages/nx-npm/tsconfig.lib.json
  packages/nx-npm/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

chore: add ability to publish nx-npm
  packages/nx-npm/package.json
  workspace.json
Due: prettier --write

chore: clear generator
  packages/nx-npm/generators.json
  packages/nx-npm/src/generators/npm/generator.spec.ts
  packages/nx-npm/src/generators/npm/generator.ts
  packages/nx-npm/src/generators/npm/schema.d.ts
  packages/nx-npm/src/generators/npm/schema.json
  packages/nx-npm/src/generators/nx-npm/files/src/index.ts__template__
  packages/nx-npm/src/generators/nx-npm/generator.ts
  packages/nx-npm/src/generators/nx-npm/schema.d.ts
  packages/nx-npm/src/generators/nx-npm/schema.json
Due: prettier --write, eslint --fix

chore: create generator
  packages/nx-npm/src/generators/npm/generator.ts
  packages/nx-npm/src/generators/npm/lib/check-for-npm-config.ts
  packages/nx-npm/src/generators/npm/lib/get-repository-field.ts
  packages/nx-npm/src/generators/npm/lib/update-package-json.ts
  packages/nx-npm/src/generators/npm/lib/update-workspace.ts
Due: prettier --write, eslint --fix

chore: create executors
  packages/nx-npm/executors.json
  packages/nx-npm/src/executors/build/executor.spec.ts
  packages/nx-npm/src/executors/build/executor.ts
  packages/nx-npm/src/executors/build/schema.d.ts
  packages/nx-npm/src/executors/build/schema.json
  packages/nx-npm/src/executors/publish/executor.spec.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
  packages/nx-npm/src/executors/version/executor.spec.ts
  packages/nx-npm/src/executors/version/executor.ts
  packages/nx-npm/src/executors/version/schema.d.ts
  packages/nx-npm/src/executors/version/schema.json
  packages/nx-npm/src/utils/get-project-configuration.ts
Due: prettier --write, eslint --fix

chore: fix spec
  e2e/nx-npm-e2e/jest.config.js
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
  packages/nx-npm/src/generators/npm/lib/check-for-npm-config.ts
Due: prettier --write, eslint --fix

chore: add scope support
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  packages/nx-npm/src/executors/publish/executor.ts
Due: prettier --write, eslint --fix

feat: add @ns3/nx-npm (#3)
  e2e/nx-npm-e2e/jest.config.js
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-npm-e2e/tsconfig.json
  e2e/nx-npm-e2e/tsconfig.spec.json
  jest.config.js
  nx.json
  packages/nx-npm/.eslintrc.json
  packages/nx-npm/README.md
  packages/nx-npm/executors.json
  packages/nx-npm/generators.json
  packages/nx-npm/jest.config.js
  packages/nx-npm/package.json
  packages/nx-npm/src/executors/publish/executor.spec.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
  packages/nx-npm/src/executors/version/executor.spec.ts
  packages/nx-npm/src/executors/version/executor.ts
  packages/nx-npm/src/executors/version/schema.d.ts
  packages/nx-npm/src/executors/version/schema.json
  packages/nx-npm/src/generators/npm/generator.spec.ts
  packages/nx-npm/src/generators/npm/generator.ts
  packages/nx-npm/src/generators/npm/lib/check-for-npm-config.ts
  packages/nx-npm/src/generators/npm/lib/get-repository-field.ts
  packages/nx-npm/src/generators/npm/lib/update-package-json.ts
  packages/nx-npm/src/generators/npm/lib/update-workspace.ts
  packages/nx-npm/src/generators/npm/schema.d.ts
  packages/nx-npm/src/generators/npm/schema.json
  packages/nx-npm/src/index.ts
  packages/nx-npm/src/utils/get-project-configuration.ts
  packages/nx-npm/tsconfig.json
  packages/nx-npm/tsconfig.lib.json
  packages/nx-npm/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6422ba4f6640cd1ac4b5f0ec592e5ce68f0fbabb
Due: none

chore: run nx update
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: fix runCommands
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
  packages/nx-serverless/src/executors/build/executor.spec.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
Due: prettier --write, eslint --fix

chore: run migrations
  .eslintrc.json
  migrations.json
  packages/nx-core/.eslintrc.json
  packages/nx-jest-playwright/.eslintrc.json
  packages/nx-serverless/.eslintrc.json
Due: prettier --write

chore: add publishConfig to packages
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-serverless/package.json
Due: prettier --write

chore: use @ns3/nx-npm to publish packages
  package.json
  tools/src/builders/builder.json
  tools/src/builders/npm-publish/impl.ts
  tools/src/builders/npm-publish/schema.json
  tools/src/builders/npm-version/impl.ts
  tools/src/builders/npm-version/schema.json
  tools/src/builders/package.json
  workspace.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: support publish config for npm publish
  packages/nx-npm/src/generators/npm/lib/update-package-json.ts
Due: prettier --write, eslint --fix

chore: allow plugins to import each other
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  package.json
  packages/nx-core/src/index.ts
  packages/nx-core/src/testing-utils/run-nx-new-command.ts
  packages/nx-core/src/utils/stringify-args.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  workspace.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: extract common parts to nx-core
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/get-project-configuration.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/utils/get-project-configuration.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
  workspace.json
Due: prettier --write, eslint --fix

chore: update @ns3/nx-npm to beta version
  package.json
  yarn.lock
Due: prettier --write

chore: fix nx-npm e2e
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
Due: prettier --write, eslint --fix

chore: add ns3 scripts
  package.json
  packages/nx-core/bin/ns3.ts
  packages/nx-core/package.json
  packages/nx-core/src/scripts/set-gh-actions-affected.ts
  packages/nx-core/src/scripts/set-gh-actions-pr-variables.ts
  packages/nx-core/src/scripts/set-gh-actions-push-variables.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: cleanup tools
  packages/nx-core/src/generators/repository/files/tools/src/builders/builder.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-publish/impl.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-publish/schema.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-version/impl.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-version/schema.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/package.json
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/helpers.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/types.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/utils/spawn-process.ts__tmpl__
  tools/src/semantic-release/helpers.ts
  tools/src/utils/spawn-process.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  5cb3a20d0e898e2e0eac3bd212835e538e63736b
Due: none

chore: update check flow
  .github/workflows/check.yml
  package.json
  yarn.lock
Due: prettier --write

fix: fix push variables exec
  package.json
  packages/nx-core/src/scripts/set-gh-actions-push-variables.ts
  yarn.lock
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2743a9bcafe1faaa505b6e42da1d0db38c625cc1
Due: none

chore: add ns3 scripts
  .github/workflows/check.yml
  package.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/builder.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-publish/impl.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-publish/schema.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-version/impl.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/builders/npm-version/schema.json
  packages/nx-core/src/generators/repository/files/tools/src/builders/package.json
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/helpers.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/index.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/semantic-release/types.ts__tmpl__
  packages/nx-core/src/generators/repository/files/tools/src/utils/spawn-process.ts__tmpl__
  tools/src/scripts/index.ts
  tools/src/scripts/set-gh-actions-affected.ts
  tools/src/scripts/set-gh-actions-pr-variables.ts
  tools/src/scripts/set-gh-actions-push-variables.ts
  tools/src/semantic-release/helpers.ts
  tools/src/utils/spawn-process.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: add e2e-done job
  .github/workflows/check.yml
Due: none

fix: replace runCommands with exec in nx-npm
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
Due: prettier --write, eslint --fix

fix: add custom execProcess method
  packages/nx-core/bin/ns3.ts
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/exec-process.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  cbd4aa1ad17d01e2f6f994f02d18740c54ac39b1
Due: none

fix: use custom execProcess
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/exec-process.ts
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/version/executor.ts
Due: prettier --write, eslint --fix
