Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): improve generator
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/files/src/environments/config.dev.json
  packages/nx-serverless/src/generators/application/files/src/environments/config.prod.json
  packages/nx-serverless/src/generators/application/files/src/environments/environment.ts__tmpl__
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
  packages/nx-serverless/src/generators/init/generator.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): run local version of sls
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
Due: eslint --parser-options 'project:null' --fix

chore: run-migrations
  migrations.json
Due: prettier --write

Notes added by 'git notes add'
  a48325cee1e5b4c431b127709e14a772cc08ac37
Due: none

chore: update nx-cloud
  nx.json
Due: prettier --write

chore: install execa
  package.json
  packages/nx-core/src/utils/dependencies.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): console log entire output in CI
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  b4de99c06b678c73f318146bc4c2ba821a6f2790
Due: none

feat: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  migrations.json
  package.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-serverless/project.json
  tools/generators/plugin/index.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: fix post migration issues
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-build-base-config.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
Due: eslint --parser-options 'project:null' --fix

feat: update deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove @ns3/nx-npm dependency
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  0818cec6e53ac7bb113e377542147645bffe788a
Due: none

feat(npm): extract ability to caret version
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  f57407adfb8fca059a2503af9192ad34f2fdfdba
Due: none

fix(npm): write deps to deps
  packages/nx-npm/src/executors/publish/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  aa394ef8eecdc03ac1b3902d68f11b88ee6a8949
Due: none

fix(npm): last fix I promise :(
  packages/nx-npm/src/executors/publish/executor.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  4190f4b33fcc566b4aa5173e0aa13bf7a228b325
Due: none

fix: don't crash when referencing a `devServerTarget` that has no `watch` parameter in schema
  packages/nx-jest-playwright/src/executors/jest-playwright/lib/start-dev-server.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  63753bb48611c3a3b05f34168aa17c2be7a59d18
Due: none

chore: run migrations
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  jest.config.ts
  jest.preset.ts
  migrations.json
  packages/nx-core/jest.config.ts
  packages/nx-core/project.json
  packages/nx-core/tsconfig.lib.json
  packages/nx-core/tsconfig.spec.json
  packages/nx-jest-playwright/jest.config.ts
  packages/nx-jest-playwright/project.json
  packages/nx-jest-playwright/tsconfig.lib.json
  packages/nx-jest-playwright/tsconfig.spec.json
  packages/nx-npm/jest.config.ts
  packages/nx-npm/project.json
  packages/nx-npm/tsconfig.lib.json
  packages/nx-npm/tsconfig.spec.json
  packages/nx-serverless/jest.config.ts
  packages/nx-serverless/project.json
  packages/nx-serverless/tsconfig.lib.json
  packages/nx-serverless/tsconfig.spec.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

fix(npm): handle scenario with no peerDependencies or dependencies
  packages/nx-npm/src/executors/publish/executor.ts
Due: eslint --parser-options 'project:null' --fix

chore: adjust config to jest.config.ts
  e2e/nx-core-e2e/jest.config.ts
  e2e/nx-core-e2e/project.json
  e2e/nx-core-e2e/tsconfig.spec.json
  e2e/nx-jest-playwright-e2e/jest.config.ts
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-jest-playwright-e2e/tsconfig.spec.json
  e2e/nx-npm-e2e/jest.config.ts
  e2e/nx-npm-e2e/project.json
  e2e/nx-npm-e2e/tsconfig.spec.json
  e2e/nx-serverless-e2e/jest.config.ts
  e2e/nx-serverless-e2e/project.json
  e2e/nx-serverless-e2e/tsconfig.spec.json
  packages/nx-jest-playwright/src/generators/project/files/jest.config.ts__tmpl__
  packages/nx-jest-playwright/src/generators/project/files/tsconfig.e2e.json
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-jest-playwright/src/generators/project/lib/update-jestconfig.ts
  packages/nx-serverless/src/generators/application/generator.spec.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  3de368e9ab2f3c22874eba331f8532b3236a56b4
Due: none

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
