Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

fix: use `tsconfig.spec.json` instead of `tsconfig.e2e.json`
  packages/nx-jest-playwright/src/generators/project/files/jest.config.ts__tmpl__
  packages/nx-jest-playwright/src/generators/project/files/tsconfig.json
  packages/nx-jest-playwright/src/generators/project/files/tsconfig.spec.json
Due: prettier --write

Notes added by 'git notes add'
  3df1f882a8a9523a46ba56d566106f600157a84a
Due: none

feat: honor include pattern defined in package section of a serverless file
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  7e2244a2e303524351a8cc51c0fd4a9a40e334b4
Due: none

feat: upgrade node to 16
  .github/workflows/check.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.nvmrc
  packages/nx-serverless/src/generators/application/files/serverless.yml
  yarn.lock
Due: prettier --write

feat: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  e2e/nx-core-e2e/jest.config.ts
  e2e/nx-jest-playwright-e2e/jest.config.ts
  e2e/nx-npm-e2e/jest.config.ts
  e2e/nx-serverless-e2e/jest.config.ts
  jest.config.ts
  jest.preset.js
  jest.preset.ts
  migrations.json
  packages/nx-core/jest.config.ts
  packages/nx-jest-playwright/jest.config.ts
  packages/nx-npm/jest.config.ts
  packages/nx-serverless/jest.config.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat: update deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: do not fail fast e2e
  .github/workflows/check.yml
Due: none

chore: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  e2e/nx-core-e2e/project.json
  e2e/nx-jest-playwright-e2e/project.json
  e2e/nx-npm-e2e/project.json
  e2e/nx-serverless-e2e/project.json
  migrations.json
  nx.json
  packages/nx-core/project.json
  packages/nx-jest-playwright/project.json
  packages/nx-npm/project.json
  packages/nx-serverless/project.json
  workspace.json
Due: prettier --write

chore: fix nx update problems
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
  packages/nx-serverless/src/executors/build/executor.spec.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
Due: eslint --parser-options 'project:null' --fix

fix(jest-playwright): adjust jest-playwright to new jest config
  packages/nx-jest-playwright/src/generators/project/files/jest.config.ts__tmpl__
  packages/nx-jest-playwright/src/generators/project/files/tsconfig.spec.json
Due: prettier --write

chore(serverless): remove deprecated executors
  packages/nx-serverless/executors.json
  packages/nx-serverless/src/executors/build/executor.spec.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/build/schema.d.ts
  packages/nx-serverless/src/executors/build/schema.json
  packages/nx-serverless/src/executors/deploy/executor.spec.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/deploy/schema.d.ts
  packages/nx-serverless/src/executors/deploy/schema.json
  packages/nx-serverless/src/executors/remove/executor.spec.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/remove/schema.d.ts
  packages/nx-serverless/src/executors/remove/schema.json
  packages/nx-serverless/src/executors/serve/executor.spec.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/executors/serve/schema.d.ts
  packages/nx-serverless/src/executors/serve/schema.json
  packages/nx-serverless/src/utils/prevent-package.ts
  packages/nx-serverless/src/utils/print-deprecation-warning.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: fix e2e spec
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  8c518451b5d72c2410bf3ff9665b1fe9cd47deea
Due: none

chore: run nx update
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run nx migrations
  migrations.json
Due: prettier --write

Notes added by 'git notes add'
  528712c3a65932e699d8ee86dbe1db883d3b9635
Due: none

fix(serverless): fix E2BIG error
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/plugin/nrwl/nx-constants.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/nrwl/nx-serverless-config.ts
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  9fed2967033ac17012f0ec3fff0fc8f60f1e9f11
Due: none

fix: fix release process
  .github/workflows/release.yml
  nx.json
  packages/nx-serverless/src/executors/sls/executor.spec.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
