Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{js,json,css,scss,html}": [
    "prettier --write",
    "git add"
  ]
}

chore: fix e2e tests
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
Due: prettier --write, eslint --fix

feat: update jest-playwright deps
  packages/nx-jest-playwright/src/generators/init/generator.ts
Due: prettier --write, eslint --fix

feat: update repository generator
  e2e/nx-core-e2e/tests/core.spec.ts
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/release.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/__tmpl__.gitignore
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/commit-msg__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.husky/pre-commit__ext.ext__
  packages/nx-core/src/generators/repository/files/__tmpl__.huskyrc
  packages/nx-core/src/generators/repository/files/__tmpl__.nvmrc
  packages/nx-core/src/generators/repository/generator.ts
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/dependencies.ts
Due: prettier --write, eslint --fix

chore: update node to version 14
  .github/workflows/check.yml
  .github/workflows/release.yml
  .nvmrc
Due: none

Notes added by 'git notes add'
  6bcf3eebe61d6b086a3904cda87033f358877dfc
Due: none

chore: fix step name
  .github/workflows/release.yml
Due: none

fix: add github actions deps to repo generator
  package.json
  packages/nx-core/src/generators/repository/generator.ts
  packages/nx-core/src/utils/dependencies.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  186c5fd26297cbffeadd72d5995dfdd4ebdca5b4
Due: none

fix: fix set-build command in nx-core generator
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
Due: none

Notes added by 'git notes add'
  3bcbc6b9f82dffc3fe9a881bc5a0d868ddc8e8f3
Due: none

include jest in tsconfig
  packages/nx-serverless/src/generators/application/files/tsconfig.app.json
Due: prettier --write

fix: fix eslintFilePatterns in generated serverless app
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/src/generators/application/lib/add-linting.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  7cc1c0a81c84e7464db0d7d3d30dac8e603f6c86
Due: none

fix: use correct name for stage option
  packages/nx-serverless/src/generators/application/files/serverless.yml
Due: none

fix: fix processEnv
  packages/nx-core/src/utils/exec-process.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  bfacf2f80cb2d34a54233a9fae2d48d350525ac9
Due: none

feat(core): extract normalizeOptions to nx-core
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/normalize-options.ts
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-jest-playwright/src/generators/project/lib/add-linting.ts
  packages/nx-jest-playwright/src/generators/project/lib/normalize-options.ts
  packages/nx-jest-playwright/src/generators/project/lib/update-jestconfig.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/add-jest.ts
  packages/nx-serverless/src/generators/application/lib/add-linting.ts
  packages/nx-serverless/src/generators/application/lib/get-out-tsc-path.ts
  packages/nx-serverless/src/generators/application/lib/get-output-path.ts
  packages/nx-serverless/src/generators/application/lib/normalized-options.ts
Due: prettier --write, eslint --fix

feat(core): add spawnProcess to allow stdio inherit option
  packages/nx-core/src/index.ts
  packages/nx-core/src/utils/exec-process.ts
  packages/nx-core/src/utils/process-output.ts
  packages/nx-core/src/utils/spawn-process.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  89ba6c1462398d8cfda9a4eb769caf9544fc7912
Due: none

fix(core): normalize-options gets type argument to distinguish between app and lib
  packages/nx-core/src/utils/normalize-options.ts
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-serverless/src/generators/application/generator.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2d3cf9abe5de072e7e34b7bcd7067e9a0950b830
Due: none

Update README.md
  packages/nx-jest-playwright/README.md
Due: none

feat(npm): add npmRegistry option to publish executor
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
  packages/nx-npm/src/executors/publish/schema.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  222324210f880d1976a6af8addb2d64278724575
Due: none

Notes added by 'git notes add'
  e722006fcd336ac0bc89e1efe14e9ae8a0cfa05a
Due: none

chore: run nx update
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: run migrations
  migrations.json
  nx.json
  packages/nx-core/.eslintrc.json
  packages/nx-core/jest.config.js
  packages/nx-jest-playwright/.eslintrc.json
  packages/nx-jest-playwright/jest.config.js
  packages/nx-npm/jest.config.js
  packages/nx-serverless/.eslintrc.json
  packages/nx-serverless/jest.config.js
  tsconfig.base.json
  workspace.json
Due: prettier --write

chore: fix linter issues
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
Due: prettier --write, eslint --fix

chore: fix e2e tests
  e2e/nx-core-e2e/tests/core.spec.ts
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
Due: prettier --write, eslint --fix

feat(jest-playwright): update playwright and jest-playwright-preset
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(jest-playwright): move baseUrl to global['baseUrl']
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/generators/project/files/src/utils.ts__tmpl__
Due: prettier --write, eslint --fix

fix(jest-playwright): exclude testEnvironment from @nrwl/jest/preset
  packages/nx-jest-playwright/src/generators/project/files/jest.config.js__tmpl__
Due: none

Notes added by 'git notes add'
  21e8e6b67512df2754f53426fd38323b8846ceb0
Due: none

chore: run migrations
  migrations.json
  nx.json
Due: prettier --write
