Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --parser-options 'project:null' --fix",
    "git add"
  ],
  "*.{js,json,css,scss,html}": [
    "prettier --write",
    "git add"
  ]
}

test: adjust e2e tests to as-provided configuration
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-playwright-e2e/tests/nx-playwright.spec.ts
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-core/src/testing-utils/run-nx-new-command.ts
Due: eslint --parser-options 'project:null' --fix

feat: update nx
  package.json
  yarn.lock
Due: prettier --write

chore: lint fix
  packages/nx-core/package.json
  packages/nx-jest-playwright/package.json
  packages/nx-npm/package.json
  packages/nx-playwright/package.json
  packages/nx-serverless/package.json
Due: prettier --write

fix(nx-serverless): use correct output paths
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/lib/get-output-path.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  a0/1276012447d11e1de37a03b070f450454bf726
Due: none

chore: add verdaccio setup
  .verdaccio/config.yml
  jest.config.ts
  package.json
  project.json
  tools/scripts/start-local-registry.ts
  tools/scripts/stop-local-registry.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

fix(nx-npm): make npmRegistry be a full link
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/lib/normalize-options.ts
  packages/nx-npm/src/executors/publish/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

test: adjust start-local-registry script
  packages/nx-core/src/testing-utils/create-test-workspace.ts
  tools/scripts/start-local-registry.ts
Due: eslint --parser-options 'project:null' --fix

test: adjust test to use local registry
  e2e/nx-core-e2e/jest.config.ts
  e2e/nx-core-e2e/tsconfig.json
  e2e/nx-jest-playwright-e2e/jest.config.ts
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-jest-playwright-e2e/tsconfig.json
  e2e/nx-npm-e2e/jest.config.ts
  e2e/nx-npm-e2e/tests/nx-npm.spec.ts
  e2e/nx-npm-e2e/tsconfig.json
  e2e/nx-playwright-e2e/jest.config.ts
  e2e/nx-playwright-e2e/project.json
  e2e/nx-playwright-e2e/tests/nx-playwright.spec.ts
  e2e/nx-playwright-e2e/tsconfig.json
  e2e/nx-playwright-e2e/tsconfig.spec.json
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  nx.json
  packages/nx-core/package.json
  packages/nx-core/src/testing-utils/ensure-complex-nx-project.ts
  packages/nx-core/src/testing-utils/run-nx-new-command.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: replace yarn with npm
  .github/actions/setup/action.yml
  package-lock.json
  tools/src/notify-lockfile-changes.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat: update deps
  .ncurc.yml
  package-lock.json
  package.json
  packages/nx-jest-playwright/package.json
  packages/nx-serverless/package.json
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: replace semantic-release
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .releaserc.js
  package-lock.json
  package.json
  tools/src/semantic-release/index.ts
  tools/src/semantic-release/types.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  b0/80366b2023f77613f27710aa7d1e3b7f9b6d0e
Due: none

fix: fix publish script
  .github/workflows/release.yml
  packages/nx-npm/src/executors/publish/executor.ts
  packages/nx-npm/src/executors/publish/schema.d.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  44/144b7bbef591eb06d5d745b5d7d78b6dbc899d
Due: none

feat(serverless): replace include with patterns
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
  packages/nx-serverless/plugin/serverless.d.ts
Due: eslint --parser-options 'project:null' --fix

chore: install deps
  package-lock.json
  package.json
  packages/nx-serverless/package.json
Due: prettier --write

fix(serverless): remove just-safe-set
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/integrations/serverless-offline.ts
  packages/nx-serverless/plugin/integrations/serverless-step-functions-offline.ts
Due: eslint --parser-options 'project:null' --fix

chore(serverless): remove skipPackage
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/serverless.d.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): make build independent of serverless framework
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/index.ts
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/src/generators/application/files/core/serverless.yml
  packages/nx-serverless/src/generators/application/files/core/src/environments/environment.ts__tmpl__
  packages/nx-serverless/src/generators/application/files/core/src/handlers/foo/handler.ts__tmpl__
  packages/nx-serverless/src/generators/application/files/core/src/handlers/foo/sls.yml
  packages/nx-serverless/src/generators/application/files/core/tsconfig.app.json
  packages/nx-serverless/src/generators/application/files/core/tsconfig.json
  packages/nx-serverless/src/generators/application/files/plugin/webpack.config.js__tmpl__
  packages/nx-serverless/src/generators/application/files/src/handlers/.gitkeep
  packages/nx-serverless/src/generators/application/files/src/main.ts__tmpl__
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/get-build-base-config.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
  packages/nx-serverless/src/generators/init/generator.ts
  packages/nx-serverless/src/utils/with-externals.ts
  packages/nx-serverless/src/utils/with-patterns.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

docs(serverless): update README
  packages/nx-serverless/README.md
Due: none

feat(serverless): do not pass ExecutorContext to sls process
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/nrwl/nx-serverless-config.ts
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/utils/test-context.ts
Due: eslint --parser-options 'project:null' --fix

docs(playwright): add deprecation notice
  packages/nx-playwright/README.md
Due: none

feat(serverless): improve build logs
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): improve serve
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): command is no longer required option
  packages/nx-serverless/README.md
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

docs: update root README
  README.md
Due: none
