Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add repository to packages
  packages/nx-core/package.json
  packages/nx-serverless/package.json
  workspace.json
Due: prettier --write

Notes added by 'git notes add'
  501818e4c6f2cac01e12e3eb96bc98ad047f1a4e
Due: none

fix(serverless): fix cache for sls build and deploy
  packages/nx-serverless/src/executors/build/executor.spec.ts
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/build/schema.d.ts
  packages/nx-serverless/src/executors/build/schema.json
  packages/nx-serverless/src/executors/deploy/executor.spec.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/deploy/schema.d.ts
  packages/nx-serverless/src/executors/deploy/schema.json
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/remove/schema.d.ts
  packages/nx-serverless/src/executors/remove/schema.json
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/executors/serve/schema.d.ts
  packages/nx-serverless/src/executors/serve/schema.json
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/get-out-tsc-path.ts
  packages/nx-serverless/src/generators/application/lib/get-output-path.ts
  packages/nx-serverless/src/utils/make-sls-command-options.ts
  packages/nx-serverless/src/utils/prevent-package.ts
  packages/nx-serverless/src/utils/run-sls-help.ts
  packages/nx-serverless/src/utils/stringify-args.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  87d2a55ce544e2f6275585941c5487c45ffe569a
Due: none

chore(serverless): update README
  packages/nx-serverless/README.md
Due: none

chore(core): update README
  packages/nx-core/README.md
Due: none

chore: do not cache cypress
  .github/workflows/check.yml
Due: none

fix(core): remove cypress cache from repo generator
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
Due: none

Notes added by 'git notes add'
  2fdacac64cfec61fd557513661f6916e1ebb65b1
Due: none

chore: update nx
  package-lock.json
  package.json
Due: prettier --write

feat: generate nx-jest-playwright
  e2e/nx-jest-playwright-e2e/jest.config.js
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  e2e/nx-jest-playwright-e2e/tsconfig.json
  e2e/nx-jest-playwright-e2e/tsconfig.spec.json
  jest.config.js
  nx.json
  packages/nx-jest-playwright/.eslintrc.json
  packages/nx-jest-playwright/README.md
  packages/nx-jest-playwright/executors.json
  packages/nx-jest-playwright/generators.json
  packages/nx-jest-playwright/jest.config.js
  packages/nx-jest-playwright/package.json
  packages/nx-jest-playwright/src/executors/build/executor.spec.ts
  packages/nx-jest-playwright/src/executors/build/executor.ts
  packages/nx-jest-playwright/src/executors/build/schema.d.ts
  packages/nx-jest-playwright/src/executors/build/schema.json
  packages/nx-jest-playwright/src/generators/nx-jest-playwright/files/src/index.ts__template__
  packages/nx-jest-playwright/src/generators/nx-jest-playwright/generator.spec.ts
  packages/nx-jest-playwright/src/generators/nx-jest-playwright/generator.ts
  packages/nx-jest-playwright/src/generators/nx-jest-playwright/schema.d.ts
  packages/nx-jest-playwright/src/generators/nx-jest-playwright/schema.json
  packages/nx-jest-playwright/src/index.ts
  packages/nx-jest-playwright/tsconfig.json
  packages/nx-jest-playwright/tsconfig.lib.json
  packages/nx-jest-playwright/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

chore: rename generator to project
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  packages/nx-jest-playwright/generators.json
  packages/nx-jest-playwright/src/generators/project/files/src/index.ts__template__
  packages/nx-jest-playwright/src/generators/project/generator.spec.ts
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-jest-playwright/src/generators/project/lib/normalize-options.ts
  packages/nx-jest-playwright/src/generators/project/schema.d.ts
  packages/nx-jest-playwright/src/generators/project/schema.json
Due: prettier --write, eslint --fix

chore: complete generator
  packages/nx-jest-playwright/src/generators/project/files/jest.config.js_tmpl
  packages/nx-jest-playwright/src/generators/project/files/src/app.spec.ts_tmpl
  packages/nx-jest-playwright/src/generators/project/files/src/index.ts__template__
  packages/nx-jest-playwright/src/generators/project/files/src/utils.ts_tmpl
  packages/nx-jest-playwright/src/generators/project/files/tsconfig.e2e.json
  packages/nx-jest-playwright/src/generators/project/files/tsconfig.json
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-jest-playwright/src/generators/project/lib/add-linting.ts
  packages/nx-jest-playwright/src/generators/project/schema.d.ts
  packages/nx-jest-playwright/src/generators/project/schema.json
Due: prettier --write, eslint --fix

chore: complete init generator
  packages/nx-jest-playwright/generators.json
  packages/nx-jest-playwright/src/generators/init/generator.spec.ts
  packages/nx-jest-playwright/src/generators/init/generator.ts
  packages/nx-jest-playwright/src/generators/init/schema.d.ts
  packages/nx-jest-playwright/src/generators/init/schema.json
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-jest-playwright/src/generators/project/lib/normalize-options.ts
  packages/nx-jest-playwright/src/generators/project/lib/update-jestconfig.ts
Due: prettier --write, eslint --fix

chore: remove or fix tests
  e2e/nx-jest-playwright-e2e/jest.config.js
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  package-lock.json
  package.json
  packages/nx-jest-playwright/src/executors/build/executor.spec.ts
  packages/nx-jest-playwright/src/generators/init/generator.spec.ts
  packages/nx-jest-playwright/src/generators/project/files/jest.config.js__tmpl__
  packages/nx-jest-playwright/src/generators/project/files/src/app.spec.ts__tmpl__
  packages/nx-jest-playwright/src/generators/project/files/src/utils.ts__tmpl__
  packages/nx-jest-playwright/src/generators/project/generator.spec.ts
Due: prettier --write, eslint --fix

chore: fix github actions checks
  .github/workflows/check.yml
  packages/nx-core/src/generators/repository/files/__tmpl__.github/workflows/check.yml
Due: none

chore: rename executor, add better descriptions
  packages/nx-jest-playwright/executors.json
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.spec.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/schema.d.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/schema.json
  packages/nx-jest-playwright/src/generators/init/schema.json
  packages/nx-jest-playwright/src/generators/project/generator.ts
  packages/nx-jest-playwright/src/generators/project/schema.json
Due: prettier --write, eslint --fix

chore: increase nx-serverless-e2e timeout
  e2e/nx-serverless-e2e/jest.config.js
Due: prettier --write

chore: add jest-playwright executor
  .eslintrc.json
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/lib/start-dev-server.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/schema.d.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/schema.json
Due: prettier --write, eslint --fix

chore: make some fixes
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
  packages/nx-jest-playwright/src/generators/project/files/jest.config.js__tmpl__
  packages/nx-jest-playwright/src/generators/project/generator.ts
Due: prettier --write, eslint --fix

chore: add alpha release channel
  .github/workflows/check.yml
  .github/workflows/release.yml
  .releaserc.js
Due: prettier --write

chore: fast release
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  49a77bffda7efcdc6f3477e2f43fcd733ab4780c
Due: none

fix: release playwright
  packages/nx-jest-playwright/package.json
Due: prettier --write

Notes added by 'git notes add'
  c193a8563eeef39b4cf94d8f2aa8a250de7ded50
Due: none

fix: really release
  workspace.json
Due: prettier --write

Notes added by 'git notes add'
  c76056f23657a766d505a2daf8f66c6509fe7eb3
Due: none

chore: add release scripts to nx-jest-playwright
  packages/nx-jest-playwright/package.json
  workspace.json
Due: prettier --write

chore: update NX Jest Playwright README
  packages/nx-jest-playwright/README.md
Due: none

chore: do not run e2e in parallel
  .github/workflows/check.yml
Due: none

chore: await for runJest
  packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts
Due: prettier --write, eslint --fix

chore: add check for running
  e2e/nx-jest-playwright-e2e/tests/nx-jest-playwright.spec.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  22efdcecc034349933b0babeceb557f95c099dbc
Due: none

Notes added by 'git notes add'
  01bc2af864a120b43e06af571569a7533b09fb9a
Due: none

chore: replace npm with yarn
  package-lock.json
  yarn.lock
Due: prettier --write

chore: use yarn in CI
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,scss,html})
  eslint --fix: any of: *.{ts,tsx}
