Repository Bielik20/nx-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  466acd53fdb0690f3906e449f4202de419496251
Due: none

chore: update node
  .nvmrc
Due: none

chore: run migrations
  migrations.json
Due: prettier --write

chore: update nx
  migrations.json
  package.json
  yarn.lock
Due: prettier --write

chore: update deps
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

fix: add deps so that they are included in compiled package
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat: add experimental warning to @ns3/nx-serverless/plugin
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/src/generators/application/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  e8341bcba85da5bdb8f6dc0fa5b77c3a227d3369
Due: none

fix(serverless): ensure .serverless dir exists before packing
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): add serverless plugin
  package.json
  packages/nx-serverless/plugin/.gitignore
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/functions/generate-functions.ts
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/integrations/serverless-invoke-local.ts
  packages/nx-serverless/plugin/integrations/serverless-offline.ts
  packages/nx-serverless/plugin/integrations/serverless-step-functions-offline.ts
  packages/nx-serverless/plugin/nrwl/nx-constants.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/nrwl/nx-options.ts
  packages/nx-serverless/plugin/packaging/packaging-manager.ts
  packages/nx-serverless/plugin/serverless.d.ts
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): add universal sls executor
  packages/nx-serverless/executors.json
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): generate serverless.yml with enable-source-maps
  packages/nx-serverless/src/generators/application/files/serverless.yml
Due: none

feat(serverless): update app generator with @ns3/nx-serverless/plugin
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/files/src/handlers/foo.ts__tmpl__
  packages/nx-serverless/src/generators/application/files/src/main.ts__tmpl__
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/add-jest.ts
  packages/nx-serverless/src/generators/application/lib/get-build-base-config.ts
  packages/nx-serverless/src/generators/application/lib/get-output-path.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
  packages/nx-serverless/src/generators/application/schema.d.ts
  packages/nx-serverless/src/generators/application/schema.json
  packages/nx-serverless/src/generators/init/generator.ts
  packages/nx-serverless/src/generators/init/schema.d.ts
  packages/nx-serverless/src/generators/init/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: remove redundant gitignore
  packages/nx-serverless/plugin/.gitignore
Due: none

feat(serverless): enable source maps when serve
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): use sls executor in generator
  packages/nx-serverless/src/executors/build/executor.ts
  packages/nx-serverless/src/executors/deploy/executor.ts
  packages/nx-serverless/src/executors/remove/executor.ts
  packages/nx-serverless/src/executors/serve/executor.ts
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/get-out-tsc-path.ts
  packages/nx-serverless/src/utils/print-deprecation-warning.ts
Due: eslint --parser-options 'project:null' --fix

chore: remove serverless-http dependency
  package.json
  packages/nx-core/src/utils/dependencies.ts
  packages/nx-serverless/src/generators/application/files/src/handlers/foo.ts__tmpl__
  packages/nx-serverless/src/generators/init/generator.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

Notes added by 'git notes add'
  1f8930b06a3415cde5e40ce232dcd50719375387
Due: none

feat(serverless): add support to more commands
  packages/nx-serverless/plugin/index.ts
Due: eslint --parser-options 'project:null' --fix

Notes added by 'git notes add'
  b9f640f2cc9dc95938c3c6ab7593eaa1805283ab
Due: none

feat(serverless): move buildTarget to env variable
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/nrwl/nx-constants.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/nrwl/nx-options.ts
  packages/nx-serverless/plugin/serverless.d.ts
  packages/nx-serverless/src/executors/sls/executor.ts
  packages/nx-serverless/src/executors/sls/schema.d.ts
  packages/nx-serverless/src/executors/sls/schema.json
Due: eslint --parser-options 'project:null' --fix, prettier --write

chore: run-migrations
  migrations.json
Due: prettier --write

feat: update dependencies
  package.json
  packages/nx-core/src/utils/dependencies.ts
  yarn.lock
Due: eslint --parser-options 'project:null' --fix, prettier --write

feat(serverless): update serverless to v3
  e2e/nx-serverless-e2e/tests/serverless.spec.ts
  packages/nx-serverless/plugin/functions/function-decorator.ts
  packages/nx-serverless/plugin/index.ts
  packages/nx-serverless/plugin/nrwl/nx-facade.ts
  packages/nx-serverless/plugin/serverless.d.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): run local version of sls
  packages/nx-serverless/src/executors/sls/executor.spec.ts
  packages/nx-serverless/src/executors/sls/executor.ts
Due: eslint --parser-options 'project:null' --fix

feat(serverless): improve generator
  packages/nx-serverless/README.md
  packages/nx-serverless/src/generators/application/files/serverless.yml
  packages/nx-serverless/src/generators/application/files/src/environments/config.dev.json
  packages/nx-serverless/src/generators/application/files/src/environments/config.prod.json
  packages/nx-serverless/src/generators/application/files/src/environments/environment.ts__tmpl__
  packages/nx-serverless/src/generators/application/generator.spec.ts
  packages/nx-serverless/src/generators/application/generator.ts
  packages/nx-serverless/src/generators/application/lib/get-project-config.ts
  packages/nx-serverless/src/generators/init/generator.ts
Due: eslint --parser-options 'project:null' --fix, prettier --write

Path conditions:
  eslint --parser-options 'project:null' --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,scss,html}
